PRODUCT_NAME = MediaPipeTasksVision
PRODUCT_BUNDLE_IDENTIFIER = com.vcamapp.mediapipe.tasks.vision
MACH_O_TYPE = mh_dylib
DEFINES_MODULE = YES
SKIP_INSTALL = NO
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
IPHONEOS_DEPLOYMENT_TARGET = 17.0
CLANG_CXX_LANGUAGE_STANDARD = c++20
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
